<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>메인페이지</title>
    <link rel="stylesheet" href="css/reset.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-sakura.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-1.12.3.js"></script>
    <script src="js/jquery-sakura.js"></script>
    <script src="js/main.js"></script>
</head>
<body>
    <div class="cover"></div>
    <div class="wrap">
        <div class="header">
            <div class="header_wrap">
                <div class="header_bottom">
                    <div class="header_bottom_in">
                        <ul class="gnb">
                            <li>
                                <a href="javascript:;">text1</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text1-1</a></li>
                                    <li><a href="javascript:;">text1-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text2</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text2-1</a></li>
                                    <li><a href="javascript:;">text2-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text3</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text3-1</a></li>
                                    <li><a href="javascript:;">text3-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text4</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text4-1</a></li>
                                    <li><a href="javascript:;">text4-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text5</a>
                                <ul class="depth2 depth3">
                                    <li><a href="javascript:;">text5-1</a></li>
                                    <li><a href="javascript:;">text5-2</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="dep_bg"></div>
                    </div>
                </div>
            </div>
        </div><!-- header종료 -->
        <div class="container">
            <div class="main_visual">
                <div class="time">
                    <div class="clock">
                        <div class="time_box">
                            <span class="txt_lg" id="hours"></span>
                            <span class="mark">:</span>
                            <span class="txt_lg" id="min"></span>
                            <span class="mark02">.</span>
                            <span class="txt_sm" id="sec"></span>
                        </div>
                        <div class="date_box">
                            <span id="year"></span>
                            <span class="point">.</span>
                            <span id="month"></span>
                            <span class="point">.</span>
                            <span id="date"></span>
                            <span id="day"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section_in">
                    <p>Member 소개</p>
                    <div class="guide_box">
                        <div class="g_box1">
                            <a href="javascript:;">
                                <p>아이콘이미지1</p>
                                <h2>김민엽</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                        <div class="g_box3">
                            <a href="javascript:;">
                                <p>아이콘이미지2</p>
                                <h2>김민택</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                        <div class="g_box4">
                            <a href="javascript:;">
                                <p>아이콘이미지3</p>
                                <h2>김용배</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                        <div class="g_box5">
                            <a href="javascript:;">
                                <p>아이콘이미지4</p>
                                <h2>전종하</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container종료 -->
    </div><!-- wrap종료 -->
    <div class="f_wrap">
        <div class="footer">
            <div class="footer_in">
                <div class="footer_wrap">
                    <ul>
                        <li><span>주소</span> : 서울시 00구 00로 000</li>
                        <li><span>대표자</span> :  홍길동</li>
                    </ul>  
                    <ul>
                        <li><span>대표전화</span> : 0000-0000</li>
                        <li><span>팩스</span> : 0000-0000</li>
                        <li><span>메일</span> : ABCD@naver.com</li>
                    </ul>       
                    <p class="copy">Copyright ⓒ 2021 STUDY All right reserved.</p>
                </div>
            </div>
        </div>
    </div><!-- f_wrap종료 -->
</body>
</html>