@charset "utf-8";
html,body{font-family: 'Noto Sans KR', sans-serif;font-size: 16px; height:100%;}
.cover{position: fixed;left:0;top:0;background: rgba(0,0,0,0.5);width: 100%;height: 100%;display: none;z-index: 5;}
.wrap{min-height: calc(100% - 89px);}
.header{position: fixed;left:0;top:0;width: 100%;z-index: 5;}
.header.on{position: fixed;left:0;top:0;z-index: 5;}
.header_wrap{position: absolute;left:0;top:0;width: 100%;background: #fcfffb;overflow: hidden;border-bottom:1px solid #d0d0d0;z-index: 5;}
.header_bottom{width: 100%;height: 90px;background: #fff;border-bottom:1px solid #d0d0d0;}
.header_bottom .header_bottom_in{width: 1200px;margin: 0 auto;position: relative;}
.header_bottom .header_bottom_in .dep_bg{position: absolute;left:-20px;top:120px;background:url("../images/mark.png")no-repeat;width: 160px;height: 152px;}
.header_bottom .header_bottom_in>.gnb{text-align: center;}
.header_bottom .header_bottom_in>.gnb>li{position: relative;display: inline-block;}
.header_bottom .header_bottom_in>.gnb>li:after{content: "";position: absolute;left:50%;top:87px;bottom:-1px;width:0 ;height: 3px;background: #6cb9ff;transition: all 0.3s ease;}
.header_bottom .header_bottom_in>.gnb>li:hover::after{width: 60%;left:50%;transform: translate(-50%,0);}
.header_bottom .header_bottom_in>.gnb>li>a{display: block;font-size:20px;font-weight: 500;color:#333;line-height: 90px;padding:0 60px;}
.header_bottom .header_bottom_in>.gnb>li:hover>a{color:#6cb9ff;}
.header_bottom .header_bottom_in>.gnb>li>.depth2{position: absolute;left:0;overflow: hidden;width: 100%;height: 320px;border-left:1px solid #d0d0d0;}
.header_bottom .header_bottom_in>.gnb>li>.depth2>li{text-align: center;}
.header_bottom .header_bottom_in>.gnb>li>.depth2>li a{display: block;color:#333;font-size: 15px;padding:12px 0;}
.header_bottom .header_bottom_in>.gnb>li>.depth2>li:first-child a{margin-top:10px;}
.header_bottom .header_bottom_in>.gnb>li>.depth2>li a:hover{text-decoration: underline;font-weight: 500;}
.header_bottom .header_bottom_in>.gnb>li>.depth3{border-right:1px solid #d0d0d0;}
.container{margin: 0 auto;}
.main_visual{width: 100%;height: 640px;background: url("../images/mainimg1.png") no-repeat top center;background-size: cover;position: relative;}
.main_visual .log{width: 230px;height: 260px;position: absolute;right:50%;top:50%;transform: translate(0,-50%);margin-right: -650px;background: #eee;border:1px solid #999;padding:10px;box-sizing: border-box;text-align: center;}
.main_visual .log .blind{padding:10px 0 20px;box-sizing: border-box;}
.main_visual .log .form1 label,.main_visual .log .form2 label{display: none;}
.main_visual .log .form1 input,.main_visual .log .form2 input{padding:10px 0;box-sizing: border-box;margin-bottom: 10px;text-indent: 10px;}
.main_visual .log .log1{width: 173px;height: 39px;cursor: pointer;font-size: 16px;background: peachpuff;border:1px solid #999;}
.main_visual .log .join .jo{margin-top:20px;}
.main_visual .log .join .jo a{color:#333;font-size: 14px;}
.main_visual .log .join .jo a:hover{text-decoration: underline;color:palevioletred;font-weight: 500;}
.main_visual .time{font-family: 'YDIYGO340'; position: absolute;left:50%;top:50%;transform: translate(-50%,-50%);}
.main_visual .clock{width: 400px; height: 200px;margin:0 auto; padding-top: 50px;text-align: center; }
.main_visual .clock .time_box { width: 100%; }
.main_visual .clock span { color:  #192d35; display:inline-block;vertical-align: baseline;}
.main_visual .txt_lg { font-size: 90px; }
.main_visual .txt_sm { font-size: 50px;  }
.main_visual .date_box { font-size: 30px;margin-top:30px;}
.main_visual #day { display: block;margin-top: 10px;}
.main_visual .mark { display: inline-block;line-height: 80px; font-size: 90px;}
.main_visual .mark02 { display: inline-block;vertical-align: bottom;}
.section{width: 100%;background: #fff;padding-top:40px;background-image: linear-gradient(120deg,#eafee9,#fbe7ef);position: relative;}
.section::after{content: "";position: absolute;left:-50px;top:0;background:url("../images/c_bg.png")no-repeat;width: 500px;height: 239px;}
.section .section_in{width: 1200px;margin:0 auto;}
.section .section_in p{text-align: center;font-size: 24px;color:#333;}
.section .section_in .guide_box{width: 1200px;height: 500px;overflow: hidden;text-align: center;}
.section .section_in .guide_box .g_p1{text-align: center;margin:50px 0;font-size: 20px;font-weight: 500;}
.section .section_in .guide_box .g_box1,
.section .section_in .guide_box .g_box2,
.section .section_in .guide_box .g_box3,
.section .section_in .guide_box .g_box4,
.section .section_in .guide_box .g_box5{float: left;width: 300px;height:150px;box-sizing: border-box;text-align: center;}
.section .section_in .guide_box .g_box1 a,
.section .section_in .guide_box .g_box2 a,
.section .section_in .guide_box .g_box3 a,
.section .section_in .guide_box .g_box4 a,
.section .section_in .guide_box .g_box5 a{display: block;width: 300px;height:150px;box-sizing: border-box;text-align: center;position: relative;}
.section .section_in .guide_box .g_box1 a::after,
.section .section_in .guide_box .g_box2 a::after,
.section .section_in .guide_box .g_box3 a::after,
.section .section_in .guide_box .g_box4 a::after{content: "";position: absolute;right:0;top:100px;height: 200px;border-right: 1px dashed #999;}
.section .section_in .guide_box .g_box1 a p{display: block;background: url("../images/icon3.png")no-repeat center bottom;width: 300px;height: 300px;text-indent: -99999px;}
.section .section_in .guide_box .g_box3 a p{display: block;background: url("../images/icon4.png")no-repeat center bottom;width: 300px;height: 300px;text-indent: -99999px;}
.section .section_in .guide_box .g_box4 a p{display: block;background: url("../images/icon2.png")no-repeat center bottom;width: 300px;height: 300px;text-indent: -99999px;}
.section .section_in .guide_box .g_box5 a p{display: block;background: url("../images/icon7.png")no-repeat center bottom;width: 300px;height: 300px;text-indent: -99999px;}
.section .section_in .guide_box .g_box1 a h2,
.section .section_in .guide_box .g_box2 a h2,
.section .section_in .guide_box .g_box3 a h2,
.section .section_in .guide_box .g_box4 a h2,
.section .section_in .guide_box .g_box5 a h2{font-size: 18px;color:#333;font-weight: 500;margin-top:20px;}
.section .section_in .guide_box .g_box1 a h4,
.section .section_in .guide_box .g_box2 a h4,
.section .section_in .guide_box .g_box3 a h4,
.section .section_in .guide_box .g_box4 a h4,
.section .section_in .guide_box .g_box5 a h4{font-size: 15px;color:#666;margin:20px 0 30px;}
.section .section_in .guide_box .g_box1 a span,
.section .section_in .guide_box .g_box2 a span,
.section .section_in .guide_box .g_box3 a span,
.section .section_in .guide_box .g_box4 a span,
.section .section_in .guide_box .g_box5 a span{width: 200px;height: 45px;display: inline-block;line-height: 45px;border-radius: 30px;border:1px solid #adadad;color:#555;position: relative;}
.section .section_in .guide_box .g_box1 a:hover span,
.section .section_in .guide_box .g_box2 a:hover span,
.section .section_in .guide_box .g_box3 a:hover span,
.section .section_in .guide_box .g_box4 a:hover span,
.section .section_in .guide_box .g_box5 a:hover span{color:#fff;background: #6cb9ff;border:none}
.section .section_in .guide_box .g_box1 a span::after,
.section .section_in .guide_box .g_box2 a span::after,
.section .section_in .guide_box .g_box3 a span::after,
.section .section_in .guide_box .g_box4 a span::after,
.section .section_in .guide_box .g_box5 a span::after{content: "";position: absolute;right:40px;top:50%;background: url("../images/contact_arr2.png")no-repeat;width: 7px;height: 11px;margin-top:-5px;}
.section .section_in .guide_box .g_box1 a:hover span::after,
.section .section_in .guide_box .g_box2 a:hover span::after,
.section .section_in .guide_box .g_box3 a:hover span::after,
.section .section_in .guide_box .g_box4 a:hover span::after,
.section .section_in .guide_box .g_box5 a:hover span::after{background: url("../images/contact_arr2_ov.png")no-repeat;}

.container .m_main{width: 100%;height: 200px;background: url("../images/m_bg.jpg")no-repeat center top;background-size: cover;}
.container .member{width: 600px;margin:50px auto;border:5px solid rgb(255, 182, 47);padding:30px;}
.container .member legend{font-size: 25px;margin-bottom: 70px;position: relative;color:#333;}
.container .member legend::after{content: "";position: absolute;left:0;bottom:-20px;width: 600px;height: 2px;background: #999;}
.container .member ul{padding:0 20px;}
.container .member ul li{margin-bottom:25px;overflow: hidden;}
.container .member ul li label{float: left;width: 150px;line-height: 20px;}
.container .member ul li .bb{cursor: pointer;}
.container .member ul li .yy{width: 50px;}
.container .member ul li .nn{width: 100px;}
.container .member ul li input{float: left;line-height: 20px;margin-right: 20px;}
.container .member .vv{text-align: center;}
.container .member .vv input{width: 150px;height: 40px;box-sizing: border-box;font-size: 15px;margin-right: 30px;cursor: pointer;}
.container .member .vv .rr{background: #f4f4f4;border:1px solid #333;}
.container .member .vv .ss{background: rgb(42, 182, 238);border:1px solid #333;color:#fff;}

.sub4_section{width: 100%;padding-top: 80px;}
.sub4_section .sub4_section_in{width: 1200px;margin:0 auto;position: relative;}
.sub4_section .sub4_section_in .title h2{font-size: 30px;font-weight: 500;color:#333;margin: 10px 0 40px 0;}

.sub4_section .sub4_section_in .sub4_section1_txt{width: 1140px;margin:0 auto;box-sizing: border-box;}
.sub4_section .sub4_section_in .sub4_section1_txt table{width: 1140px;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_wrap{border-top:1px solid #333;border-bottom: 1px solid #333;}
.sub4_section .sub4_section_in .sub4_section1_txt table caption{position: absolute;left:-99999px;}
.sub4_section .sub4_section_in .sub4_section1_txt table tbody th{line-height: 50px;font-size:18px;font-weight: 500;background: #eee;}
.sub4_section .sub4_section_in .sub4_section1_txt table tbody td{line-height: 40px;text-align: center;border-top: 1px solid #c8c8c8;}
.sub4_section .sub4_section_in .sub4_section1_txt table tbody td a{color:#333;}
.sub4_section .sub4_section_in .sub4_section1_txt table tbody td a:hover{color:#ac1e35;text-decoration: underline;}
.sub4_section .sub4_section_in .sub4_section1_txt table tbody .notice{text-align: left;text-indent: 30px;}
.sub4_section .sub4_section_in .sub4_section1_txt table tbody .notice a{width:500px;box-sizing: border-box;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: inline-block;}

.sub4_section .sub4_section_in .sub4_section1_txt .content{text-align:center;margin:40px 0;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number{overflow: hidden;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number li{display: inline-block;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number li a{display: block;background: url("../images/paging_first.gif") no-repeat;width: 32px;height: 32px;text-indent:-99999px;font-size: 13px;box-sizing: border-box;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number .n3 a{display: block;width: 32px;height: 32px;box-sizing: border-box;padding-top: 8px;background: #17cdb8;text-indent: 0;color:#fff;text-align: center;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number .n4 a{display: block;width: 32px;height: 32px;box-sizing: border-box;padding-top: 8px;background: #fff;text-indent: 0;color:#666;text-align: center;border:1px solid #ddd;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number .n2 a{background: url("../images/paging_prev.gif") no-repeat;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number .n7 a{background: url("../images/paging_next.gif") no-repeat;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number .n8 a{background: url("../images/paging_end.gif") no-repeat;}
.sub4_section .sub4_section_in .sub4_section1_txt .content .number .n9{margin:0 5px 0 20px;border:1px solid #d2d2d2;width: 50px;height: 32px;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form{width: 1140px;height: 80px;padding-top:20px;background: #f4f4f6;box-sizing: border-box;margin-bottom: 50px;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form .table_f_inner{width: 560px;height: 40px;margin:0 auto;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form .table_f_inner legend{position: absolute;left:-99999px;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form .table_f_inner select{width: 150px;height: 40px;background: #fff;color:#878787;text-indent: 10px;border:1px solid #c8c8c8;box-sizing: border-box;vertical-align: middle;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form .table_f_inner .input1{width: 310px;height: 40px;background: #fff;border:1px solid #c8c8c8;box-sizing: border-box;vertical-align: middle;padding-left: 10px;outline:none;}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form .table_f_inner input::placeholder{color:#c2c2c2;font-family:'Noto Sans KR';}
.sub4_section .sub4_section_in .sub4_section1_txt .table_form .table_f_inner .button1{width: 90px;height: 40px;border:none;background: #7b7b7b;color:#fff;box-sizing: border-box;vertical-align: middle;outline:none;cursor: pointer;}

.sub4_section .sub4_section_in .sub4_section2_txt{width: 1140px;height: 670px;}
.sub4_section .sub4_section_in .sub4_section2_txt .form{padding:0 30px 50px;position: relative;}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset legend{position: absolute;left:-99999px;}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset div{padding:10px 0;}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset div input::placeholder{color:#999;text-indent: 10px;font-family:'Noto Sans KR';}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset div textarea::placeholder{color:#999;font-family:'Noto Sans KR';}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset label{float: left;width: 150px;line-height: 30px;font-family:'Noto Sans KR';}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset label span{color:red;vertical-align: middle;}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset input{width: 500px;height: 30px;line-height: 30px;text-indent: 10px;font-family:'Noto Sans KR';}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset textarea{width: 900px;padding: 10px;font-family:'Noto Sans KR';}
.sub4_section .sub4_section_in .sub4_section2_txt .form fieldset p{float: left;line-height: 20px;border:1px solid #888;padding:10px;width: 900px;font-size: 14px;height: 50px;overflow: auto;}
.sub4_section .sub4_section_in .sub4_section2_txt .form .form6{position: absolute;left:180px;bottom:0;background: #dbdbdb;padding:10px;}
.sub4_section .sub4_section_in .sub4_section2_txt .form .form7 input{border:1px solid #888;height: 30px;line-height: 30px;}
.sub4_section .sub4_section_in .sub4_section2_txt .form .send{position: absolute;right:40px;bottom:-30px;padding:10px 20px;border-radius: 10px;cursor: pointer;border:none;background:#25baa9;color:#fff;font-weight: 700;outline: none;font-size: 16px;}

.sub4_section .sub4_section_in .sub4_section3_txt{width: 1140px;height: 600px;border:5px solid #eee;overflow: auto;margin:0 auto 50px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in{padding:30px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in h3{margin-bottom: 20px;font-size:20px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in h3 span img{width: 20px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table{margin:0 auto 30px;box-sizing: border-box;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table caption{position: absolute;left:-99999px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody th{line-height: 40px;font-size:18px;border:1px solid #333;font-weight: 500;background: #eee;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody td{line-height: 20px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody .left1{border:1px solid  #333;width: 250px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody .left2{border:1px solid #333;padding:10px 0 10px 20px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody .right1{border:1px solid #333;width: 770px;padding:10px 15px;letter-spacing: -0.8px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table{margin:0 auto 30px;box-sizing: border-box;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in h4{font-weight: 500;margin-bottom: 10px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in p{margin-bottom: 30px;line-height: 25px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody .left3{border:1px solid  #333;width: 500px;text-indent: 20px;line-height: 25px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody .left4{border:1px solid  #333;width: 200px;text-align: center;line-height: 25px;}
.sub4_section .sub4_section_in .sub4_section3_txt .sub4_section3_txt_in table tbody .right5{border:1px solid  #333;width: 440px;text-indent: 20px;line-height: 25px;}


.f_wrap{width: 100%;height: 89px;}
.footer{width: 100%;background: #69acc0;}
.footer .footer_in{width: 1200px;margin:0 auto;box-sizing: border-box;padding:15px 20px;}
.footer .footer_in .footer_wrap{}
.footer .footer_in .footer_wrap ul{overflow: hidden;}
.footer .footer_in .footer_wrap ul li{float: left;margin:0 10px 10px 0;font-size: 13px;color:#555;}
.footer .footer_in .footer_wrap li span{color:#333;font-weight: 500;}
.footer .footer_in .footer_wrap .copy{color:#565656;clear: both;font-size: 13px;}

