<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    {% if title %}
      <title>메인페이지- {{ title }}</title>
    {% else %}
      <title>메인페이지</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-sakura.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <script src="{{ url_for('static', filename='js/jquery-1.12.3.js')}}"></script>
    <script src="{{ url_for('static', filename='js/jquery-sakura.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</head>
<body>
<table class="table table-striped table-hover">
    <div class="cover"></div>
    <div class="wrap">
        <div class="header">
            <div class="header_wrap">
                <div class="header_bottom">
                    <div class="header_bottom_in">
                        <ul class="gnb">
                            <li>
                                <a href="javascript:;">text1</a>
                                <ul class="depth2">

                                    <li><a href="/board">text1-1</a></li>
                                    <li><a href="{{ url_for('index')}}">text1-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text2</a>
                                <ul class="depth2">
                                    <li><a href="{{ url_for('getboard')}}">text2-1</a></li>
                                    <li><a href="javascript:;">text2-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text3</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text3-1</a></li>
                                    <li><a href="javascript:;">text3-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text4</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text4-1</a></li>
                                    <li><a href="javascript:;">text4-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text5</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text5-1</a></li>
                                    <li><a href="javascript:;">text5-2</a></li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
      </div><!-- header종료 -->
      <!-- 게시판 제목-->
      <div class ="wrap">
      <div class ="tit_info">
        <a>
          <strong class="tit_item">샘플 게시판</strong>
        </a>
        <p class="desc_item"> 자유게시판입니다.</p>
      </div>

      <!-- 추가 정보-->
      <div class="add_info">
        <div class="link_item">총 게시글
          <span class="screen_out">1000</span>
        </div>
      </div>

<!-- 게시판 양식-->
      <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">게시물 번호</th>
          <th scope="col">제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>
          <th scope="col">조회수</th>

        </tr>
      </thead>
<!-- 이부분 스태틱이랑 연결해야함-->
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>제목이라고 쓴다</td>
          <td>김용배</td>
          <td>21-03-14</td>
          <td>100000</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>제목을 좀더 길게 써보려고 노력중인데 그게 쉽지 않다.</td>
          <td>김민엽</td>
          <td>21-03-14</td>
          <td>10000</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>!@#$1234제목을 좀더 길게 써보려고 노력중인데 그게 쉽지 않다.</td>
          <td>전종하</td>
          <td>21-03-14</td>
          <td>10000</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ</td>
          <td>김민택</td>
          <td>21-03-14</td>
          <td>10000</td>
        </tr>

      </tbody>
    </table>
    <hr/>
<!-- 페이지 버튼-->
  <div class="text-left">
      <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#">&laquo;</a>
      </li>
      <li class="page-item active">
        <a class="page-link" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
  <!--버튼을 오른쪽으로 붙이고 싶은데 안되네...-->
  <a class="btn btn-primary pull-right" href="#" role="button">실제로 만들 버튼</a>
<div class="dep_bg"></div>
</div><!-- container종료 -->
</div><!-- wrap종료 -->
<div class="f_wrap">
<div class="footer">
    <div class="footer_in">
        <div class="footer_wrap">
            <ul>
                <li><span>주소</span> : 서울시 00구 00로 000</li>
                <li><span>대표자</span> :  홍길동</li>
            </ul>
            <ul>
                <li><span>대표전화</span> : 0000-0000</li>
                <li><span>팩스</span> : 0000-0000</li>
                <li><span>메일</span> : ABCD@naver.com</li>
            </ul>
            <p class="copy">Copyright ⓒ 2021 STUDY All right reserved.</p>
        </div>
    </div>
</div>
</div><!-- f_wrap종료 -->
</body>
</html>
