
    <div class="f_wrap">
        <div class="footer">
            <div class="footer_in">
                <div class="footer_wrap">
                    <ul>
                        <li><span>주소</span> : 서울시 00구 00로 000</li>
                        <li><span>대표자</span> :  홍길동</li>
                    </ul>  
                    <ul>
                        <li><span>대표전화</span> : 0000-0000</li>
                        <li><span>팩스</span> : 0000-0000</li>
                        <li><span>메일</span> : ABCD@naver.com</li>
                    </ul>       
                    <p class="copy">Copyright ⓒ 2021 STUDY All right reserved.</p>
                </div>
            </div>
        </div>
    </div><!-- f_wrap종료 -->
