
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>메인페이지</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-sakura.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='./js/jquery-1.12.3.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/jquery-sakura.js') }}"></script>
    <script src="{{ url_for('static', filename='./js/main.js') }}"></script>
</head>
