<!DOCTYPE html>
<html lang="ko">

{% include 'header.html' %}  <!--헤더삽입-->

<body>
<div class="cover"></div>

{% include 'menu.html' %} <!--상단 메인메뉴 삽입-->

    <div class="wrap">
        <div class="container">
            <div class="main_visual">
                <div class="log">
                    <form action="">
                        <fieldset>
                            <legend class="blind">로그인</legend>
                                <div class="form1">
                                    <label for="id" class="id1">아이디</label>
                                    <input type="text" name="" placeholder="아이디" required="" maxlength="">
                                </div>
                                <div class="form2">
                                    <label for="pw" class="pw1">비밀번호</label>
                                    <input type="password" name="" placeholder="비밀번호" required="" maxlength="">
                                </div>
                                <input type="submit" value="login" class="log1">
                        </fieldset>
                    </form>
                    <div class="join">
                        <p class="jo"><a href="{{ url_for('signup') }}">회원가입</a></p>
                    </div>
                </div>
                <div class="time">
                    <div class="clock">
                        <div class="time_box">
                            <span class="txt_lg" id="hours"></span>
                            <span class="mark">:</span>
                            <span class="txt_lg" id="min"></span>
                            <span class="mark02">.</span>
                            <span class="txt_sm" id="sec"></span>
                        </div>
                        <div class="date_box">
                            <span id="year"></span>
                            <span class="point">.</span>
                            <span id="month"></span>
                            <span class="point">.</span>
                            <span id="date"></span>
                            <span id="day"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section_in">
                    <p>Member 소개</p>
                    <div class="guide_box">
                        <div class="g_box1">
                            <a href="javascript:;">
                                <p>아이콘이미지1</p>
                                <h2>김민엽</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                        <div class="g_box3">
                            <a href="javascript:;">
                                <p>아이콘이미지2</p>
                                <h2>김민택</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                        <div class="g_box4">
                            <a href="javascript:;">
                                <p>아이콘이미지3</p>
                                <h2>김용배</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                        <div class="g_box5">
                            <a href="javascript:;">
                                <p>아이콘이미지4</p>
                                <h2>전종하</h2>
                                <h4>text</h4>
                                <span>바로가기</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- container종료 -->
    </div><!-- wrap종료 -->

 {% include 'footer.html' %} <!--하단 푸터 삽입-->

</body>
</html>