<div class="header">
            <div class="header_wrap">
                <div class="header_bottom">
                    <div class="header_bottom_in">
                        <ul class="gnb">
                            <li>
                                <a href="javascript:;">text1</a>
                                <ul class="depth2">
                                    <li><a href="{{ url_for('board') }}">text1-1</a></li>
                                    <li><a href="{{ url_for('index') }}">text1-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text2</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text2-1</a></li>
                                    <li><a href="javascript:;">text2-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text3</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text3-1</a></li>
                                    <li><a href="javascript:;">text3-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text4</a>
                                <ul class="depth2">
                                    <li><a href="javascript:;">text4-1</a></li>
                                    <li><a href="javascript:;">text4-2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">text5</a>
                                <ul class="depth2 depth3">
                                    <li><a href="javascript:;">text5-1</a></li>
                                    <li><a href="javascript:;">text5-2</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="dep_bg"></div>
                    </div>
                </div>
            </div>
        </div><!-- header종료 -->
